* {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;

}


.banner-container {
    display: flex;
    gap: 100px;
    /* border: 2px solid red; */
    padding: 150px 0 0 150px;
    /*   T R B L*/
    background: rgba(229, 84, 115, 0.10);
    font-weight: 800;

    height: 510px;
    font-size: 20px;


}

.banner-header {
    max-width: 40%;
}

.banner-image {
    width: 400px;
    height: 510px;
    /* border: 2px solid red; */
}

.banner-title {
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    font-size: 13px;
    margin: 16px 0;
    /*   T R B L*/
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    width: 140px;
    height: 54px;
    border: 0;
    color: white;
    /* float: left; */

}

/* 2nd part */
.our-featured {
    display: flex;

}

.our-title {
    padding-left: 550px;
    margin-top: 80px;
    display: flex;


}

.our-paragraph {


    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    text-align: center;
}

.our-image {
    display: flex;
   margin-top: 80px;
   margin-left: 200px;
   gap:20px;
   height: 400px;
   width: 700px;




}

.image-bg1{
    border-radius: 300px 300px 0px 0px;
        background: rgba(167, 33, 98, 0.15);
       
   padding-left: 50px;
   padding-top: 100px;
   padding-right: 70px;
}
.image-bg2{

    border-radius: 300px 300px 0px 0px;
        background: rgba(5, 151, 160, 0.15);
        padding-left: 50px;
            padding-top: 100px;
}
.image-bg3{
    border-radius: 300px 300px 0px 0px;
        background: rgba(71, 125, 17, 0.15);
        padding-left: 60px;
            padding-top: 70px;
            padding-right: 80px;
}