* {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;

}


.banner-container {
    display: flex;
    gap: 100px;
    /* border: 2px solid red; */
    padding: 150px 0 0 150px;
    /*   T R B L*/
    background: rgba(229, 84, 115, 0.10);
    font-weight: 800;

    height: 510px;
    font-size: 20px;


}

.banner-header {
    max-width: 40%;
    font-weight: 800;
}

.banner-image {
    width: 400px;
    height: 510px;
    /* border: 2px solid red; */
}

.banner-title {
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    font-size: 13px;
    margin: 16px 0;
    /*   T R B L*/
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    width: 140px;
    height: 54px;
    border: 0;
    color: white;
    /* float: left; */

}

/* 2nd part */
.our-featured {
    display: flex;


}

.our-title {
    padding-left: 550px;
    margin-top: 80px;
    display: flex;


}

.our-paragraph {


    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    text-align: center;
}

.our-image {
    display: flex;
    margin-top: 80px;
    margin-left: 70px;
    padding: 0 120px;
    /* height: 400px;
   width: 700px; */




}

.image-bg1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

    padding-left: 50px;
    padding-top: 100px;
    padding-right: 70px;

    height: 300px;
    width: 230px;
}

.image-bg2 {

    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding-left: 50px;
    padding-top: 100px;
    padding-right: 70px;
    height: 300px;
    width: 230px;
}

.image-bg3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding-left: 50px;
    padding-top: 100px;
    padding-right: 70px;

    /* border: 2px solid red; */
    height: 300px;
    width: 230px;


}

.link {

    color: #272727;
    text-align: center;
    /* border: 2px solid red; */
    padding: 120px;
}


/* 3rd part */
.Discount-container {
    margin-top: 200px;
    display: flex;
    gap: 100px;
    padding: 180px 20px 50px 350px;
    font-weight: 800;

    height: 300px;
    font-size: 20px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.discount-image {
    width: 220px;
    height: 300px;
    /* border: 2px solid blue; */


}

.btn {
    justify-content: center;
    margin-left: 70px;
}

.text-primary {
    color: #E55473;
}

.instragram-image {
    display: flex;
    margin-top: 40px;
    margin-left: 180px;
    width: 232px;
    height: 296px;
    gap: 20px;
}


/* /////////////////////////////////////////// */
.instragram-container,
.our-title {
    /* margin-left: 29px;
margin-top: 250px; */
    /* border:2px solid blue; */

}

.instragram-container2 {
    /* border :2px solid yellow; */
    margin-top: 240px;




}

.background {
    width: 1100px;
    height: 349px;
    margin-left: 170px;


}



.our-description2,
.input-form {
    position: relative;
    /* border:2px solid green; */
    bottom: 350px;

}






input {
    width: 500px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
    display: flex;
    margin-left: 80px;
    border: 0;
    padding-left: 12px;



}

.btn2 {
    max-width: 30%;
}

.input-form {
    display: flex;
    gap: 10px;
    padding-left: 300px;
    margin-top: 40px;
    /* margin-top: 60px; */
}




/* footer */


.name {

    color: white;
    padding-top: 130px;
  
   
}

.new {
color: rgba(255, 255, 255, 0.90);
position: relative;
right: 130px;
   bottom: 50px;
   

    font-size: 18px;
    
    font-weight: 400;

}

.footer-container {
    background-color: #272727;
    height: 430px;
    justify-content: center;


}
.foot{

    color:gray;
position: relative;
bottom: 90px;
right: 50px;
   
}